@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --graylish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-gray-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla, "DM Serif Display", "Courier New", Courier, monospace;
  font-size: 16px;
}

nav {
  margin: 1.6rem 0;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
  max-width: 78%;
  margin: auto;
}
nav ul .logo {
  margin-right: auto;
  background-image: url(/images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 112px;
  height: 18px;
}
nav ul li {
  text-transform: uppercase;
  list-style: none;
}
nav ul li:last-child {
  padding: 0.4em 1.2em;
  cursor: pointer;
  border: 1px solid var(--dark-violet);
}
nav ul li:last-child:hover {
  color: var(--very-light-gray);
  background-color: var(--dark-violet);
}

.first-section {
  background-color: var(--dark-violet);
  margin-bottom: 18rem;
  position: relative;
}
.first-section .intro-left {
  position: absolute;
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 195px;
  height: 504px;
  top: 26rem;
  left: inherit;
}

.first-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bg-pattern-intro-right-desktop.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23rem;
  height: 31.28rem;
  z-index: 1;
}

.first-section > div {
  max-width: 78%;
  margin: auto;
  padding: 8rem 0;
  position: relative;
}
.first-section > div .left {
  max-width: 50%;
  padding-right: 1.5rem;
}
.first-section > div .left .line {
  margin-bottom: 5rem;
}
.first-section > div .left h1 {
  font-family: "DM Serif Display";
  font-size: 3.6rem;
  line-height: 3rem;
  color: var(--very-light-gray);
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
}
.first-section > div .left p {
  color: var(--very-light-gray);
  line-height: 1.6em;
  margin-bottom: 1.6rem;
}
.first-section > div .left .line {
  width: 30%;
  height: 1px;
  border: none;
  outline: none;
  background-color: var(--dark-gray-violet);
}
.first-section > div .left button {
  background-color: transparent;
  border: 1px solid var(--very-light-gray);
  outline: none;
  padding: 0.7rem 1.8rem;
  color: var(--very-light-gray);
}
.first-section > div .left button:hover {
  background-color: var(--very-light-gray);
  color: var(--dark-violet);
}
.first-section > div .img-intro {
  background-image: url(../images/image-intro-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 650px;
  position: absolute;
  top: 8rem;
  right: 0;
}

.second-section {
  margin-top: 1rem;
  max-width: 78%;
  margin: auto;
  margin-bottom: 8rem;
}
.second-section .line {
  margin-bottom: 3.8rem;
  width: 15%;
  height: 1px;
  border: none;
  outline: none;
  background-color: var(--dark-gray-violet);
}
.second-section h2 {
  font-size: 2.8rem;
  margin-bottom: 3.5rem;
}
.second-section h3 {
  font-size: 1.6rem;
  margin: 2rem 0;
}
.second-section div:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  column-gap: 1.5rem;
}

.third-section {
  margin: auto;
  max-width: 78%;
  background-color: var(--dark-violet);
  position: relative;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  margin-bottom: 8rem;
}
.third-section div:first-child {
  max-width: 32%;
  font-size: 2rem;
  color: var(--very-light-gray);
}
.third-section div:nth-of-type(2) {
  position: relative;
  padding: 0.5em 1.8em;
  background-color: transparent;
  border: 1px solid var(--very-light-gray);
  color: var(--very-light-gray);
  cursor: pointer;
  text-transform: uppercase;
  z-index: 1;
}
.third-section div:nth-of-type(2):hover {
  background-color: var(--very-light-gray);
  color: var(--dark-violet);
}
.third-section div:last-child {
  position: absolute;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 434px;
  height: 250px;
  top: 0;
  right: 0;
}

footer {
  background-color: var(--very-light-gray);
  position: relative;
  margin-bottom: 5rem;
}
footer .footer-bg {
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 528px;
  height: 231px;
  position: absolute;
  top: 0;
}
footer .footer-upper {
  position: relative;
  z-index: 1;
  margin: auto;
  padding-top: 4rem;
  max-width: 78%;
  display: flex;
  justify-content: space-between;
}
footer .footer-upper div {
  display: flex;
  column-gap: 1rem;
}
footer .line {
  position: relative;
  z-index: 1;
  margin: 1.9rem auto 2.1rem auto;
  max-width: 78%;
  height: 1px;
  border: none;
  outline: none;
  background-color: #d7dfea;
}
footer .footer-bottom {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  margin: auto;
  max-width: 78%;
  display: flex;
  justify-content: space-between;
  padding-right: 12rem;
}
footer .footer-bottom div {
  margin-top: 0.6rem;
  cursor: pointer;
}
footer .footer-bottom h4 {
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
