body {
    font-family: Karla, "DM Serif Display", 'Courier New', Courier, monospace;
    font-size: 16px;
}

nav {
    margin: 1.6rem 0;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;
        max-width: 78%;
        margin: auto;

        .logo {
            margin-right: auto;
            background-image: url(/images/logo.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 112px;
            height: 18px;
        }

        li {
            text-transform: uppercase;
            list-style: none;
        }

        .view-plans {
            padding: 0.4em 1.2em;
            cursor: pointer;
            border: 1px solid var(--dark-violet);
        }

        .view-plans:hover {
            color: var(--very-light-gray);
            background-color: var(--dark-violet);
        }

        svg {
            display: none;
        }
    }
    svg{
        display: none;
    }
}

.first-section {
    background-color: var(--dark-violet);
    position: relative;
}

.first-section::before {
    content: '';
    position: absolute;
    background-image: url(../images/bg-pattern-intro-left-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 195px;
    height: 504px;
    top: 65%;
    left: inherit;
}

.first-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/bg-pattern-intro-right-desktop.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 23rem;
    height: 31.28rem;
    z-index: 1;
}

.first-section>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 78%;
    position: relative;
    column-gap: 1rem;

    @media screen and (max-width: 905px) {
        column-gap: 4rem;
    }

    .left {
        max-width: 50%;

        h1 {
            font-family: "DM Serif Display";
            font-size: 3.6rem;
            line-height: 3rem;
            color: var(--very-light-gray);
            margin-bottom: 2rem;
            letter-spacing: 0.1em;
        }

        p {
            color: var(--very-light-gray);
            line-height: 1.6em;
            margin-bottom: 1.6rem;
        }

        .line {
            margin-bottom: 4rem;
            width: 30%;
            height: 1px;
            border: none;
            outline: none;
            background-color: var(--dark-gray-violet);
        }

        button {
            background-color: transparent;
            border: 1px solid var(--very-light-gray);
            outline: none;
            padding: 0.7rem 1.8rem;
            color: var(--very-light-gray);
            cursor: pointer;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: 905px) {
            margin-bottom: 3rem;
        }

        button:hover {
            background-color: var(--very-light-gray);
            color: var(--dark-violet);
        }
    }

    .img-intro {
        margin-top: 5rem;

        img {
            max-width: 100%;
            height: auto;

            margin-bottom: -10rem;
        }
    }
}

.second-section {
    max-width: 78%;
    margin: auto;
    margin-top: 18rem;

    .line {
        margin-bottom: 3.8rem;
        width: 15%;
        height: 1px;
        border: none;
        outline: none;
        background-color: var(--dark-gray-violet);
    }

    h2 {
        font-size: 2.8rem;
        margin-bottom: 3.5rem;
    }

    h3 {
        font-size: 1.6rem;
        margin: 2rem 0;
    }

    &__last {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
        column-gap: 1.5rem;

        @media screen and (max-width: 892px) {
            row-gap: 3rem;
        }
    }

    margin-bottom: 7rem;
}

.third-section {
    margin: auto;
    max-width: 78%;
    background-color: var(--dark-violet);
    position: relative;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;

    @media screen and (max-width: 905px) {
        padding: 2rem;
    }

    div:first-child {
        max-width: 32%;
        font-size: 2rem;
        color: var(--very-light-gray);

        @media screen and (max-width: 905px) {
            max-width: 40%;
        }

    }

    div:nth-of-type(2) {
        position: relative;
        padding: 0.5em 1.8em;
        background-color: transparent;
        border: 1px solid var(--very-light-gray);
        color: var(--very-light-gray);
        cursor: pointer;
        text-transform: uppercase;
        z-index: 1;
    }

    div:nth-of-type(2):hover {
        background-color: var(--very-light-gray);
        color: var(--dark-violet);
    }

    div:last-child {
        position: absolute;
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 434px;
        height: 250px;
        top: 0;
        right: 0;
    }

    margin-bottom: 8rem;
}

footer {
    background-color: var(--very-light-gray);
    position: relative;
    margin-bottom: 5rem;

    .footer-bg {
        background-image: url(../images/bg-pattern-footer-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 528px;
        height: 231px;
        position: absolute;
        top: 0;
    }

    .footer-upper {
        position: relative;
        z-index: 1;
        margin: auto;
        padding-top: 4rem;
        max-width: 78%;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            column-gap: 1rem;
        }
    }

    .line {
        position: relative;
        z-index: 1;
        margin: 1.9rem auto 2.1rem auto;
        max-width: 78%;
        height: 1px;
        border: none;
        outline: none;
        background-color: hsl(216, 30%, 88%);
    }

    .footer-bottom {
        position: relative;
        z-index: 1;
        margin-top: 2rem;
        margin: auto;
        max-width: 78%;
        display: flex;
        justify-content: space-between;
        padding-right: 12rem;
        text-transform: uppercase;

        div {
            margin-top: 0.6rem;
            cursor: pointer;
        }

        h4 {
            margin-bottom: 1.8rem;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 800px) {
    body {
        .black-screen {
            display: none;
            position: absolute;
            top: 20vh;
            left: 0;
            width: 100%;
            height: 200vh;
            background-color: var(--very-dark-violet);
            z-index: 1;
        }
    }

    nav {
        position: relative;
        ul {
            position: relative;
            color: var(--very-light-gray);
            font-weight: 700;
            z-index: 2;

            li:nth-of-type(2){
                position: absolute;
                top: 4.5rem;
                left: 43%;
                // transform: translate(50%);
            }
            li:nth-of-type(3){
                position: absolute;
                top: 6.8rem;
                left: 49%;
                // transform: translate(50%);
            }
            li:nth-of-type(4){
                position: absolute;
                top: 9.1rem;
                left: 47%;
                // transform: translate(50%);
            }
            li:nth-of-type(5){
                position: absolute;
                top: 11.3rem;
                left: 43%;
                padding: 0.4em 1.2em;
                cursor: pointer;
                border: 1px solid var(--very-light-gray);
                // transform: translate(50%);
            }

            li:nth-of-type(5):hover {
                color: var(--very-dark-violet);
                background-color: var(--very-light-gray);
            }

            li {
                display: none;
                cursor: pointer;
            }

            .logo {
                display: block !important;
            }
            svg{
                position: absolute;
                top: 0;
                right: -2.8em;
                display: block;
                cursor: pointer;
            }
        }
        svg{
            position: absolute;
            top: 0;
            right: 5%;
            display: none;
            cursor: pointer;
        }
        @keyframes rotate {
            50%{
                transform: rotate(50deg);
            }
            100%{
                transform: rotate(100%);
            }
        }
    }

    .first-section::before {
        background-image: url(../images/bg-pattern-intro-left-mobile.svg);
        width: 168px;
        height: 165px;
        top: 35em;
        left: inherit;
    }

    .first-section::after {
        top: 58em;
        right: 0;
        background: url(../images/bg-pattern-intro-right-mobile.svg);
        width: 124px;
        height: 330px;
    }

    .first-section>div {
        flex-direction: column-reverse;
        max-width: 100%;
        column-gap: 0rem;
        row-gap: 8rem;

        .left {
            max-width: 90%;
            text-align: center;

            h1 {
                font-size: 3.2em;
                line-height: 1em;
            }

            .line {
                display: none;
            }
        }

        .img-intro {
            margin-top: 0rem;

            img {
                margin-bottom: 0rem;
            }
        }
    }

    .second-section {
        max-width: 90%;
        margin-top: 8rem;
        text-align: center;

        .line {
            margin: auto;
            margin-bottom: 3.8rem;
            width: 50%;
        }

        h2 {
            text-align: center;
        }
    }

    .third-section {
        max-width: 90%;
        flex-direction: column;
        row-gap: 2rem;
        text-align: center;

        div:first-child {
            max-width: 100%;
        }

        div:last-child {
            position: absolute;
            background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 176px;
            height: 317px;
            top: 0;
            right: 0;
        }

        margin-bottom: 6rem;
    }

    footer {

        .footer-bg {
            background-image: url(../images/bg-pattern-footer-mobile.svg);
            width: 374px;
            height: 173px;
        }

        .footer-upper {
            align-items: center;
            max-width: 90%;
            flex-direction: column;
            justify-content: unset;
            row-gap: 2rem;
        }

        .line {
            max-width: 90%;
        }

        .footer-bottom {
            max-width: 90%;
            flex-direction: column;
            justify-content: unset;
            align-items: center;
            padding-right: unset;
            text-align: center;

            h4 {
                margin-top: 2rem;
            }
        }
    }
}